#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.app {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
